body {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0099ffe3;
/*background-color: #0099ffe3;
background-color: #0044ffe3;*/

}
  
   /* 全局样式 */
    
  
    /* 导航栏样式 */
    header {
      background-color: #0044ffe3;
      padding: 20px;
      text-align: center;
    }
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    nav ul li {
      display: inline;
      margin: 0 10px;
    }
  
    nav a {
      color: #fff;
      text-decoration: none;
      padding: 5px 10px;
    }
  
    section {
      margin: 20px auto;
      width: 80%;
    }
  
    section h2 {
      color: #fff;
    }
  
    section p {
      text-align: justify;}
  





    
 

  

  
  footer {
    background-color: #0099ffe3;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }



  /*servce*/
#ios {
  background-color: #0099ffe3;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  border-radius:15px;
}
#android {
  background-color: #0099ffe3;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  border-radius:15px;
}  



/*products*/
#teams {
  background-color: #0099ffe3;
  text-align: center;
  padding: 100px 0;
  border-radius:15px;
}

#NTTB {
  background-color: #0099ffe3;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  border-radius:15px;
}



/*index*/
#nnn {
  background-color: #0099ffe3;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  border-radius:15px;
}
#mmm {
  background-color: #0099ffe3;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  border-radius:15px;
}
#about {
  background-color: #0099ffe3;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  border-radius:15px;
}
#about {
  background-color: #0099ffe3;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  border-radius:15px;
}

/*tell*/

#tell {
  background-color: #0099ffe3;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  border-radius:15px;
}
/*main*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

      a{
        text-decoration: none;
      }

#gxbf{
  width: 60px;/*左右*/
  height: 60px;
  position: absolute;
  left: 30px;
  top: 175px;/*上下*/
  color:rgb(0, 0, 0);
  font-size: 10px;
  text-align: center;
}
#gxbf_win{/*间隔75为佳*/
  width: 480px;
  height: 270px;
  background: rgba(255, 196, 0, 0.877);
  border: 3px solid rgba(255, 196, 0, 0.877);
  border-radius: 20px;
  position: absolute;
  top:250px;
  left: 450px;
  text-align: center;
  font-size: 18px;
  display: none;
}

#shengrui11{
  width: 60px;/*左右*/
  height: 60px;
  position: absolute;
  left: 30px;
  top: 250px;/*上下*/
  color:rgb(0, 0, 0);
  font-size: 10px;
  text-align: center;
}
#shengrui11_win{
  width: 480px;
  height: 270px; 
  background: rgba(255, 196, 0, 0.877);
  border: 3px solid rgba(255, 196, 0, 0.877);
  border-radius: 20px;
  position: absolute;
  top:250px;
  left: 450px;
  text-align: center;
  font-size: 18px;
  display: none;
}
#qigege{
  width: 60px;/*左右*/
  height: 60px;
  position: absolute;
  left: 30px;
  top: 325px;/*上下*/
  color:rgb(0, 0, 0);
  font-size: 10px;
  text-align: center;
}
#qigege_win{
  width: 480px;
  height: 270px; 
  background: rgba(255, 196, 0, 0.877);
  border: 3px solid rgba(255, 196, 0, 0.877);
  border-radius: 20px;
  position: absolute;
  top:250px;
  left: 450px;
  text-align: center;
  font-size: 18px;
  display: none;
}


    @keyframes out {
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
    @keyframes in {
      0%{
        display: block;
        opacity: 1;
      }
      100%{
        opacity: 0;
      }
    }